@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary-base: var(--primary-base);
    --color-primary-foreground-base: var(--primary-foreground-base);
    --color-primary-dim: var(--primary-dim);
    --color-primary-foreground-dim: var(--primary-foreground-dim);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary-dim: var(--secondary-dim);
    --color-secondary-foreground-dim: var(--secondary-foreground-dim);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    /* --sidebar: transparent; */
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --background: oklch(0.1493 0.0071 178.97);
    --foreground: oklch(0.95 0.02 178.97);
    --card: oklch(0.35 0.0071 178.97);
    --card-foreground: oklch(0.9 0.02 178.97);
    --popover: oklch(0.35 0.0071 178.97);
    --popover-foreground: oklch(0.985 0.02 178.97);
    --primary-base: oklch(0.4 0.075 178.97);
    --primary-foreground-base: oklch(0.9 0.02 178.97);
    --primary: oklch(0.2429 0.019 178.97);
    --primary-foreground: oklch(0.9 0.1 178.97);
    --primary-dim: oklch(0.35 0.019 178.97);
    --primary-foreground-dim: oklch(0.75 0.1 178.97);
    --secondary: oklch(0.2538 0.03 232.24);
    --secondary-foreground: oklch(0.9 0.05 232.24);
    --secondary-dim: oklch(0.3293 0.04 232.24);
    --secondary-foreground-dim: oklch(0.75 0.055 232.24);
    --muted: oklch(0.269 0.01 178.97);
    --muted-foreground: oklch(0.708 0.01 178.97);
    --accent: oklch(0.6733 0.1597 329.57);
    --accent-foreground: oklch(0.2 0.15 329.57);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0.1 178.97 / 10%);
    --input: oklch(1 0.1 178.97 / 15%);
    --ring: oklch(0.556 0.1 178.97 / 50%);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    /* --sidebar: oklch(0.2429 0.03 178.97); */
    --sidebar: transparent;
    --sidebar-foreground: oklch(0.9 0.02 178.97);
    --sidebar-primary: oklch(0.35 0.02 178.97);
    --sidebar-primary-foreground: oklch(0.75 0.1 178.97);
    --sidebar-accent: oklch(0.35 0.019 178.97);
    --sidebar-accent-foreground: oklch(0.9 0.1 178.97);
    --sidebar-border: oklch(1 0.1 178.97 / 10%);
    --sidebar-ring: oklch(0.556 0.1 178.97 / 50%);
    --tw-gradient-stops: circle closest-side, var(--primary-base),
        var(--background);
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-merriweather-sans);
}

*::-webkit-scrollbar {
    width: 8px;
}
*::-webkit-scrollbar-thumb {
    background-color: var(--primary-foreground);
    border-radius: 8px;
}
*::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-foreground-dim);
}
*::-webkit-scrollbar-track {
    background-color: transparent;
}

.mapboxgl-popup-content {
    background: none !important;
    padding: 0 !important;
    box-shadow: none !important;
}

.mapboxgl-popup-close-button {
    display: none !important;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: var(--primary) !important;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: var(--primary) !important;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: var(--primary) !important;
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
    border-bottom-color: var(--primary) !important;
}

.mapbox-search-box {
    flex: 1;
    z-index: 1;
    width: calc(100% - 168px);
    pointer-events: auto;
}

body {
    font-family: var(--font-raleway);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
